@model CustomerSearchModel

<fieldset class="border rounded">
	<legend>Find Customer By:</legend>
	<form asp-action="Search" asp-controller="Customer" method="get">
		<div class="form-row">
			<div class="form-group col-md-4">
				<label class="control-label">First Name</label>
				<input class="form-control" type="text" name="firstName" value="@Model.FirstName" />
			</div>
			<div class="form-group col-md-4">
				<label class="control-label">Middle Name</label>
				<input class="form-control" type="text" name="middleName" value="@Model.MiddleName" />
			</div>
			<div class="form-group col-md-4">
				<label class="control-label">Last Name</label>
				<input class="form-control" type="text" name="lastName" value="@Model.LastName" />
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-6">
				<label class="control-label">Email</label>
				<input class="form-control" type="text" name="email" value="@Model.Email" />
			</div>
			<div class="form-group col-md-2">
				<label class="control-label">Active</label>
				<select selected-bool-value="@Model.Active" option-label="All" true-label="Active" false-label="Locked" class="form-control" name="active"></select>
			</div>
		</div>
		<input type="submit" value="Search" class="btn btn-primary" />
	</form>
</fieldset>