@model IEnumerable<ProductTypeUpdateRequestView>

@{ECommerceService eCommerce = (ECommerceService)ViewData[GlobalViewBagKeys.ECommerceService];}

<div class="table-responsive rounded">
	<table class="table table-striped table-bordered table-hover table-condensed table-sm table-secondary table-active">
		<thead class="thead-dark">
			<tr>
				<th></th>
				<th>Product type</th>
				<th>Seller</th>
			</tr>
		</thead>
		<tbody>
			@{string formAction = Url.Action("UpdateRequestDetail", "ProductType");}
			@foreach (ProductTypeUpdateRequestView updateRequest in Model)
			{
				ProductTypeView productType = eCommerce.GetProductTypeBy(updateRequest.ProductTypeId);
				ProductView product = eCommerce.GetRepresentativeProduct(productType.Id);
				<tr>
					<td class="productImageContainerForUpdateRequestTable">
						@if (product != null)
						{
							<img class="img-fluid rounded" src="@($"{UIConsts.GetProductUrlById(product.SellerId, product.ProductTypeId)}/{product.RepresentativeImage}")" alt="@product.ProductTypeName" />
						}
						else
						{
							<img class="img-fluid rounded" src="~/images/sample.png" alt="@productType.Name" />
						}
					</td>
					<td>
						<h4><a asp-action="Informations" asp-controller="ProductType" asp-route-productTypeId="@productType.Id" class="text-decoration-none">@productType.Name</a></h4>
						@{
							int categoryId = productType.CategoryId;
							<small>
								@await Component.InvokeAsync("CategoryBreadCrumb", new { categoryId })
							</small>
						}
					</td>
					<td>
						<h4><a asp-action="Informations" asp-controller="Seller" asp-route-sellerId="@updateRequest.SellerId" class="text-decoration-none">@updateRequest.SellerName</a></h4>
					</td>
					<td>
						<form action="@formAction" method="get">
							<input name="productTypeId" type="hidden" value="@updateRequest.ProductTypeId" />
							<input name="sellerId" type="hidden" value="@updateRequest.SellerId" />
							<input type="submit" value="Detail" class="btn btn-primary" />
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>