@model IEnumerable<SellerView>

<div class="table-responsive rounded">
	<table class="table table-striped table-bordered table-hover table-condensed table-sm table-secondary table-active">
		<thead class="thead-dark">
			<tr>
				<th>Email</th>
				<th>Name</th>
				<th>Phone Number</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			@{string formAction = Url.Action("ChangeStatus", "Seller");}
			@foreach (SellerView seller in Model)
			{
				<tr>
					<td><a asp-action="Informations" asp-controller="Seller" asp-route-sellerId="@seller.Id" class="text-decoration-none">@seller.Email</a></td>
					<td><a asp-action="Informations" asp-controller="Seller" asp-route-sellerId="@seller.Id" class="text-decoration-none">@seller.Name</a></td>
					<td>@seller.PhoneNumber</td>
					<td>
						<form action="@formAction" method="post">
							<input name="sellerId" type="hidden" value="@seller.Id" />
							<select class="submitOnChange" name="status" enum-type="typeof(SellerStatus)" selected="seller.Status"></select>
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<script type="text/javascript">
	//change user status

	$('.submitOnChange').change(function () {
		var $form = $(this).closest('form');
		$.ajax({
			url: $form.attr('action'),
			type: $form.attr('method'),
			data: $form.serialize(),
			success: function (result) {
				if (result != '')
					alert(result);
			},
			error: function (result) {
				alert('something went wrong while changing user status:\n' + result);
			}
		});
	});
</script>