@model ProductsListViewModel

<div class="table-responsive rounded">
	<table class="table table-striped table-bordered table-hover table-condensed table-sm table-active table-secondary">
		<thead class="thead-dark">
			<tr>
				<th style="width:20%;"></th>
				<th style="width:22%;">Name</th>
				<th style="width:12%;">Price</th>
				<th style="width:12%;">Quantity</th>
				<th style="width:12%;">Active</th>
				<th style="width:12%;">Status</th>
			</tr>
		</thead>
		<tbody>
			@{
				ECommerceService eCommerce = (ECommerceService)ViewData[GlobalViewBagKeys.ECommerceService];
				string formAction=Url.Action("ChangeProductActive","Seller");
				string addQuantityAction=Url.Action("AddProductQuantity","Seller");
				string reduceQuantityAction=Url.Action("ReduceProductQuantity","Seller");
				foreach (ProductView product in Model.Products)
				{
					<tr>
						<td class="sellerProductTableImageContainer"><img src="@($"{UIConsts.GetProductUrlById(product.SellerId, product.ProductTypeId)}/{product.RepresentativeImage}")" /></td>
						<td>@product.ProductTypeName</td>
						<td>@CurrencyFormat.Format(product.Price)</td>
						<td>
							<div class="float-left" id="@Html.Raw($"product{product.ProductTypeId}Quantity")">@product.Quantity</div>
							<div class="float-right">
								<form class="changeQuantityForm" action="@addQuantityAction" method="get" actionName="adding">
									<input type="hidden" name="productTypeId" value="@product.ProductTypeId" />
									<input type="hidden" name="numbers" value="0" />
									<button type="submit" class="btn btn-secondary">
										<i class="fa fa-plus" aria-hidden="true"></i>
									</button>
								</form>
								<form class="changeQuantityForm" action="@reduceQuantityAction" method="get" actionName="reducing">
									<input type="hidden" name="productTypeId" value="@product.ProductTypeId" />
									<input type="hidden" name="numbers" value="0" />
									<button type="submit" class="btn btn-secondary">
										<i class="fa fa-minus" aria-hidden="true"></i>
									</button>
								</form>
							</div>
						</td>
						<td>
							<form action="@formAction" method="post">
								<input type="hidden" name="productTypeId" value="@product.ProductTypeId" />
								<input @(product.Active ? "checked" : "") class="submitOnChange" name="active"
										type="checkbox" data-toggle="toggle" value="true"
										data-onstyle="success" data-offstyle="danger" data-size="small"
										data-on="<i class='fas fa-lock-open'></i>"
										data-off="<i class='fa fa-lock'></i>" />
							</form>
						</td>
						<td>@product.Status</td>
						<td>
							<a asp-action="UpdateProduct" asp-route-productTypeId="@product.ProductTypeId" class="btn btn-warning">Edit</a>
							<a href="#" class="btn btn-danger">Change Operating Model</a>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>

<div page-model="Model.PagingInfo" page-action="@ViewContext.RouteData.Values["Action"].ToString()" class="col-12"
	 page-class="page-item" page-class-normal=""
	 page-class-selected="active" page-class-disabled="disabled">
</div>

<script type="text/javascript">
$(document).ready(function(){
	//change user state
	$('.submitOnChange').change(function () {
		let $form = $(this).closest('form');
		$.ajax({
			url: $form.attr('action'),
			type: $form.attr('method'),
			data: $form.serialize(),
			success: function (result) {
				if (result != '')
					alert(result);
			},
			error: function (result) {
				alert('something went wrong while changing product active:\n' + result);
			}
		});
	});

	//change product quantity
	$('.changeQuantityForm').submit(function (event) {
		event.preventDefault();
		let $form = $(this);

		let actionName = $form.attr("actionName");

		let changingNumbers = prompt("Please enter " + actionName + " numbers:", "0");

		if (changingNumbers == null) {
			alert("Empty value entered. Nothing changed");
			return;
		}

		if (isNaN(changingNumbers)) {
			alert("Numbers must be an integer");
			return;
		}

		let convertedChangingNumbers = Number(changingNumbers);
		if (convertedChangingNumbers != changingNumbers) {
			alert("Numbers must be an integer");
			return;
		}

		if (convertedChangingNumbers == 0)
			return;

		if (convertedChangingNumbers < 0) {
			alert("Numbers must be greater than zero");
			return;
		}

		$form.find("input[name='numbers']").val(convertedChangingNumbers);

		$.ajax({
			url: $form.attr('action'),
			type: $form.attr('method'),
			data: $form.serialize(),
			success: function (result) {
				if(result.errors.length < 1)
				{
					let sltor = "#product" + $form.find("input[name='productTypeId']").val() + "Quantity";
					$(sltor).html(result.result);
				}
				else alert(result.errors.join(';'));

				$form.find("input[name='numbers']").val(0);
			},
			error: function (result) {
				alert('Something went wrong while ' + actionName + ' product quantity');

				$form.find("input[name='numbers']").val(0);
			}
		});
		
	});
});
</script>