@model SellerView

@{
//required: script.js(imported in _Layout.cshtml)
}

@if (Model == null)
{
	<div class="dropdown">
		<button class="btn btn-primary btn-sm ml-1 dropdown-toggle overflow-txt" type="button" data-toggle="dropdown">
			<i class="fas fa-user-tag"></i> Seller
		</button>
		<ul class="dropdown-menu">
			<li>
				<a class="dropdown-item" tabindex="-1" asp-action="Login" asp-controller="Seller"
				   asp-route-returnUrl="@((ViewContext.RouteData.Values["Controller"].ToString() == "Seller" && ViewContext.RouteData.Values["Action"].ToString() == "Login") ?
					Url.HomePage() : ViewContext.HttpContext.Request.PathAndQuery())">
					Login
				</a>
			</li>
			<li>
				<a class="dropdown-item" tabindex="-1" asp-action="Signup" asp-controller="Seller"
				   asp-route-returnUrl="@((ViewContext.RouteData.Values["Controller"].ToString() == "Seller" && ViewContext.RouteData.Values["Action"].ToString() == "Signup") ?
				Url.HomePage() : ViewContext.HttpContext.Request.PathAndQuery())">
					Signup
				</a>
			</li>
		</ul>
	</div>
}
else
{
	<div class="dropdown">
		<button class="btn btn-primary btn-sm ml-1 dropdown-toggle overflow-txt" type="button" data-toggle="dropdown" title="@Model.Email">
			<i class="fas fa-user-tag"></i> @Model.Email
		</button>
		<ul class="dropdown-menu">
			<li>
				<a class="dropdown-item" tabindex="-1" asp-action="PersonalInformations" asp-controller="Seller">
					Personal Information
				</a>
			</li>
			<li>
				<a class="dropdown-item" tabindex="-1" asp-action="SelectProductType" asp-controller="RegisterProduct">
					Register Product
				</a>
			</li>
			<li>
				<a class="dropdown-item" tabindex="-1" asp-action="Product" asp-controller="Seller">
					Manage Products
				</a>
			</li>
			<li>
				<a class="dropdown-item" tabindex="-1" asp-action="SelectProductType" asp-controller="UpdateProductType">
					Update Product Type
				</a>
			</li>
			<li>
				<a class="dropdown-item" tabindex="-1" asp-action="Order" asp-controller="Seller">
					Manage Orders
				</a>
			</li>
			<li>
				<form asp-action="Logout" asp-controller="Seller" method="post">
					<input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
					<a class="dropdown-item" tabindex="-1" onclick="$(this).closest('form').submit();">
						Logout
					</a>
				</form>
			</li>
		</ul>
	</div>
}