@model OrdersListViewModel

@await Html.PartialAsync("OrderFilterForm", Model.SearchModel)
@{ECommerceService eCommerce = (ECommerceService)ViewData[GlobalViewBagKeys.ECommerceService];}

<div class="table-responsive rounded">
	<table class="table table-striped table-bordered table-hover table-condensed table-sm table-active table-secondary">
		<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Seller</th>
				<th>Product Type</th>
				<th>Current Price</th>
				<th>Quantity</th>
				<th>Value</th>
				<th>Attributes</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var order in Model.Orders)
			{
			<tr>
				<td>@order.Id</td>
				<td>
					<p>@($"Id: {order.SellerId}")</p>
					<p>@($"Name: {order.SellerName}")</p>
				</td>
				<td>
					<p>@($"Id: {order.ProductTypeId}")</p>
					<div class="d-flex bg-light" style="width: 100px; height: 100px;">
						@{var product = (await eCommerce.GetProductByAsync(order.SellerId, order.ProductTypeId));}
						<img class="m-auto mw-100 mh-100" src="@($"{UIConsts.GetProductUrlById(order.SellerId, order.ProductTypeId)}/{product.RepresentativeImage}")">
					</div>
					<p>@($"Name: {order.ProductTypeName}")</p>
				</td>
				<td>@order.CurrentPrice</td>
				<td class="text-center">@order.Quantity</td>
				<td>@order.Value</td>
				<td>
					@foreach(var attribute in order.Attributes)
					{
					<p>@($"{attribute.Key}: {attribute.Value}")</p>
					}
				</td>
				<td>
					<select class="form-control" disabled enum-type="typeof(OrderStatus)" selected="order.Status"></select>
				</td>
			</tr>
			}
		</tbody>
	</table>
</div>

<div page-model="Model.PagingInfo" page-action="@ViewContext.RouteData.Values["Action"].ToString()" class="d-flex justify-content-center"
	 page-class="page-item" page-class-normal=""
	 page-class-selected="active" page-class-disabled="disabled"
	 page-url-productTypeId="Model.SearchModel.SearchModel.ProductTypeId" page-url-customerId="Model.SearchModel.SearchModel.CustomerId"
	 page-url-quantity="Model.SearchModel.SearchModel.Quantity" page-url-quantityIndication="Model.SearchModel.SearchModel.QuantityIndication"
	 page-url-totalValue="Model.SearchModel.SearchModel.TotalValue" page-url-totalValueIndication="Model.SearchModel.SearchModel.TotalValueIndication"
	 page-url-status="Model.SearchModel.SearchModel.Status">
</div>